.form-container{
    margin: auto;
    width: 60%;
    border: 2px solid #ccc;
    align-items: center;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .form-container {
        width: 90%; /* Adjust the width as needed for smaller screens */
    }
}

h2.form { 
    color: #111; 
    font-family: Papyrus, fantasy;
    font-size: 60px; 
    font-weight: 300; 
    line-height: 32px; 
    margin: 0 0 72px; 
    text-align: center; 
    padding-top: 3%;
}

#displayForComments{
    margin: auto;
    padding-left: 50px;
}

h4.commentsHeading{
    font-size: 30px; 
}

a.clickable:link {
    color: green;
  }
  
  /* visited link */
  a.clickable:visited {
    color: blue;
  }
  
  /* mouse over link */
  a.clickable:hover {
    color: hotpink;
  }
  